= content_for :title, t(:'student.list')

= content_for :new_form do
  #new-student.d-none

= content_for :index_header do
  .pull-left
    = count_div 'students-count' do
      = print_count @count, t(:'student.list')
  .pull-right
    = link_to_new t(:'student.new'), new_student_path, id: "new-student-link"
    = render 'gaku/shared/overrides/students/import_link'

= render 'gaku/shared/student_chooser/chooser'

javascript:
  var new_student_path = "#{new_student_path}"
coffee:
  $("#new-student-link").attr
    'data-intro': 'まず初めにこのボタンをクリック下ください。<br>情報入力ページに遷移します。'
    'data-position': 'left'
    href: '#'
  $('#new-student-link').click ->
    window.location.href = new_student_path + '?multipage=true'

  intro = getIntro()
  intro.setOptions
    showButtons: false
    showBullets: false
  intro.onexit ->
    $("#new-student-link").attr
      href: new_student_path

  $('#new-student-link').after(
    $('<button class="btn btn-default"><span class="glyphicon glyphicon-question-sign"></span></button>').click ->
      intro.start()
  )